.App {
  text-align: center;
}

#login {
  margin-left: 10%;
  margin-right: 10%;
}

#home {
  border: 2px solid #a2c8f6;
  border-radius: 10px;
  box-shadow: #4b4a4a38 3px 3px 3px 0;
  padding: 1em;
}

#navbar {
  margin-bottom: 2em;
  margin-top: 1em;
}

#navbar a {
  background-color: #a2c8f6;
  border: 2px solid #000000;
  box-shadow: #000000 3px 4px 0 0;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 5px;
  width: 13% ;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#navbar a:hover {
  background-color: #fff;
}

#navbar a.active {
  box-shadow: #000000 0 2px 0 0;
  transform: translate(3px, 2px);
}

@media (min-width: 768px) {
  #navbar a {
    min-width: 120px;
    padding: 0 25px;
  }
}

.center {
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.largeMargins {
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}

.thumbnail {
  height: 200px;
  width: auto;
}

.fitted {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: 50% 50%;
}

.fittedReview {
  height: 200px;
  width: auto;
  object-fit: cover;
  object-position: 50% 50%;
}

.foodGrid {
  margin-left: 25%;
  margin-right: 25%;
}

.reviewGrid {
  height: 60vh;
  overflow: auto;
  overflow-x: hidden
}

.reviewGrid2 {
  overflow: auto;
  overflow-x: hidden;
  max-height: 60vh;
}

.mealShow {
  margin-right: 25%;
  margin-left: 25%;
}

.restaurant {
  font-size: larger;
  font-weight: bold;
}

.average {
  font-size: 1.8em;
  line-height: 1.5;
  font-weight: bold;
}

.outta5 {
  vertical-align: super;
  font-weight: bold;
}